<body>
	<div class="main">
		<input type="text" name="Search" placeholder="Search...">
		<button>SEARCH</button>
	</div>
</body>
<style type="text/css">
	*{
		margin:0px;
		padding:0px;
		box-sizing: border-box;
	}
	.main{
		margin: auto;
		width: 75%;
	}
	.main input,button{
		width:75%;
		height:50px;
		border:2px solid white;
		border-right:0px;
		font-size: 25px;
		padding:12px;
		background-color: semitransparent;
		color:white;
		font-weight:bold;
		
	}
	.main input:hover{
		opacity: .8;
	}
	.main button{
		width:25%;
		height:50px;
		background-color: #eee;
		color:black;
		transition: all 0.3s;
		float: right;
		border-left:0px;
		margin-top: -50px;
		line-height: 0em;
		
											

		
	}
	.main button:hover{
		opacity: .8;
	}
</style>